@import "../common/variables.scss";

/* Break-points
--------------------------- */
@mixin res($key, $map: $--breakpoints) {
    // 循环断点 Map，如果存在在返回
    @if map-has-key($map, $key) {
        @media only screen and #{unquote(map-get($map, $key))} {
            @content;
        }
    } @else {
        @warn "Undefined points: `#{$map}`";
    }
}

// .y-button{}
@mixin b($block) {
    $B: $namespace+'-'+$block;
    .#{$B}{
        @content;
    }
}
// .y-button.is-xxx
@mixin when($state) {
    @at-root {
        &.#{$state-prefix + $state} {
            @content;
        }
    }
}
// &--primary => .y-button--primary
@mixin m($modifier) {
    @at-root {
        #{&+$modifier-separator+$modifier} {
            @content;
        }
    }
}
// &__header  => .y-button__header
@mixin e($element) {
    @at-root {
        #{&+$element-separator+$element} {
            @content;
        }
    }
}

@mixin button-type($color,$background-color,$border-color){
    color: $color;
    background-color: $background-color;
    border-color: $border-color;
}